* {
    padding: 0;
    margin: 0;
}


body {
    background-color: #232D3F;
}

.Header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: grey;
    height: 40px;
    padding: 20px;
    color: #232D3F;
}


.Navbar  a{
    align-items: center;
    font-size: 18px;
    margin: 10px;
    color: white;
    text-decoration: none;
}


.Profile {
    height: 250px;
    width: 80%;
    display: grid;
    text-align: center;
    background-color: gray;
    align-items: center;
    margin: 2% auto 20px auto;
}

.Profile-txt{
    display: flex;
    align-items: center;
    margin: auto;
}

.foto {
    width: 100px;
    margin: 20px;
}

.Profile-txt h2 {
    text-align: left;
    padding: 8px 0;
}


.Pengalaman{
    height: 150px;
    width: 80%;
    text-align: center;
    margin: 2% auto 20px auto;
    background-color: gray;
    padding: 10px 0;
}

.Pengalaman li {
    font-size: 20px;
    list-style-type: none;
    padding: 5px;
}

.Kontak {
    height: 150px;
    width: 80%;
    text-align: center;
    margin: 2% auto 20px auto;
    background-color: gray;
    padding: 10px 0;
}
.Kontak li {
    list-style-type: none;
    padding: 5px;
}
.Kontak a{
    text-decoration: none;
    font-size: 15px;
    color: black;
    font-size: 20px;
}

.resume {
    height: 300px;
    width: 80%;
    text-align: center;
    margin: 2% auto 20px auto;
    background-color: gray;
    padding: 10px 0;
}

.resume li {
    list-style-type: none;
    font-size: 15px;
    text-align: left;
    padding: 10px 20px;
}

.Footer{
    text-align: center;
    background-color: grey;
    height: 50px;
}
